@CHARSET "UTF-8";

.uiGlobal {
	left: 0;
	min-width: 1000px;
	position: absolute;
	top: 0;
	-webkit-user-select: none;
	width: 100%;
}

.uiSubGlobal {
	font: 13px/27px Arial, sans-serif;
	position: relative;
	height: 60px;
	width: 100%;
	background: #f1f1f1;
}

.uiHeader {
	margin-left: 0;
	margin-right: 0;
	white-space: nowrap;
	display: flex;
}

.uiLoginNagivation {
	height: 60px;
	line-height: 58px;
	vertical-align: middle;
	float: right;
	order: 1;
	min-width: 285px;
}

.uiLoginAvatar {
	height: 15px;
	width: 15px;
	padding: 0 0 0 15px;
	vertical-align: middle;
	display: flex;
	flex: 0 1 auto;
}

#uiDocumentList {
	position: relative;
}

.uiSplitPane {
	width: 100%;
	overflow: hidden;
}

.uiNavpaneResizeTransition,.uiViewPaneToolBar .uiDensityTiny {
	-webkit-transition: font-size .218s, height .218s, line-height .218s, margin .218s, padding .218s, width .218s;
	transition: font-size .218s, height .218s, line-height .218s, margin .218s, padding .218s, width .218s;
}

.uiViewPane {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
}

.uiViewPaneToolBar {
	padding: 9px 30px 9px 16px;
	border-bottom: 1px solid #ebebeb;
	font-size: 13px;
	height: 29px;
	overflow: visible;
}