<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="false">
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${user.home}/document-handler/catalina.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="MaxFileSize" value="15MB" />
<!-- 		<param name="MaxBackupIndex" value="5" /> -->
		<param name="Threshold" value="ALL" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} | %-5p | [%c{1.}: %L] | %m%n" />
		</layout>
	</appender>
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="ALL" />
		<param name="Encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} | %-5p | [%c{1.}: %L] | %m%n" />
		</layout>
	</appender>
	<logger name="org.apache" additivity="true">
		<level value="ALL" />
	</logger>
	<root>
		<level value="ALL" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>